

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}


/* Declarando variaveis em CSS */
:root {
    --cor0:#ebe5c5;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37; 
    --cor5:#063d1e;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --font-android: 'Android';
}

/* Usar apenas o asterisco ira personalizar em todos elementos da pagina*/
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);   
    font-family: var(--font-padrao);
} 

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    padding: 5px;
    text-align: center;
}


header h1 {
    color: white;
    font-family: var(--fonte-destaque);
    text-shadow: 10px 10px 10px rgb(71, 70, 70);
}

header p {
    color: white;
}

nav {
    background-color: var(--cor5);
    padding: 5px;
    text-align: left;
    box-shadow: 0px 5px 5px rgb(180, 180, 180);
}

nav a {
    color: white;
    margin-left: 5px;
    text-decoration: none;
    padding: 5px;
}

nav a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
    border-radius: 5px;
}

main {
    padding: 25px;
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0px 0px 10px black;
    margin-bottom: 20px;
    border-radius: 0px 0px 10px 10px;
}

main article h1 {
    color: var(--cor3);
    font-family: var(--font-android);
    color: var(--cor5);
}

main article h2 {
    font-family: var(--font-android);
    background-image: linear-gradient(to right, var(--cor3), transparent);
    padding-left: 10px;
    border-radius: 10px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
}

main article img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

main article iframe {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

main a {
    color: var(--cor5);
    font-weight: bold;
    background-color: var(--cor1);
    padding: 2px 5px;
    text-decoration: none;
    border-radius: 2px;
}

main a:hover {
    text-decoration: underline;
}

aside {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor1));
    padding: 20px;
    border-radius: 15px;
}

aside ul {
    list-style-position: inside;
    columns: 2;
}

aside h3 {
    background-color: var(--cor5);
    color: white;
    padding: 10px;
    margin: -20px -20px 0px -20px;
    border-radius: 10px 10px 0px 0px;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    width: 600px;
    height: 30px;
    margin: auto;
    text-align: center;
    border-radius: 100px;
    margin-bottom: 10px;
}

footer p {
    margin-bottom: 0px;
    padding: 5px;
    font-family: var(--font-android);
}

footer p a {
    color: white;
}

.bugdroid {
    width: 50%;
    display: block;
    margin: auto;
}

